<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205275922876-8qmrctl7okavfhpham2i7cp80110mh11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205275922876-8qmrctl7okavfhpham2i7cp80110mh11</string>
	<key>API_KEY</key>
	<string>AIzaSyBtFbKA2D-BEEy3UAWg66kxXr6c5rIvLQA</string>
	<key>GCM_SENDER_ID</key>
	<string>205275922876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samil_nugayy.mapsuygulama</string>
	<key>PROJECT_ID</key>
	<string>newhistorical-b4f75</string>
	<key>STORAGE_BUCKET</key>
	<string>newhistorical-b4f75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205275922876:ios:5d6a5e5745edaef1172bb9</string>
</dict>
</plist>